<!DOCTYPE html>
<html>
<head>
	<title>HOA BAN FOOD</title>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"><script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">

	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	
	<link rel="stylesheet" href="../css/home.css" type="text/css">
</head>
<body>
<div class="header">
	<div class="contact">
		<div class="ct_number">
			HOTLINE: 0914.268.535
		</div>
		<div class="ct_network">
			<ul>
				<li> <a href="https://www.facebook.com/"><i class="fab fa-facebook-square"></i> Facebook</a></li>
				<li> <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i> Youtube</a></li>
				<li> <a href="https://www.tiktok.com/"><i class="fab fa-tiktok"></i>TikTok</a></li>
				<li> <a href="https://www.hoabancamp.com/">HOABANCAMP</a></li>
			</ul>
		</div>
	</div>
	<div class="main_header">
		<div class="logo"><a href="home.html"><img src="../img/logo.png" alt="" width="250px" height="55px" ></a></div>

		<div class="search"> <form method="GET" action="">
					<label class="sr-only" for="input_search">Tìm sản phẩm...</label>
				     <div class="input-group">
				        <input type="text" class="form-control" id="input_search" placeholder="Tìm sản phẩm...">
				        <div class="input-group-prepend">
				          <button class="input-group-text">
				          	<i class="fas fa-search"></i>
				          </button>
				        </div>
				    </div>
			</form>
		</div>
		

		<div class="right">
			<ul>
				<li> <i class="fas fa-phone-alt"></i>0914.268.535</li>
				<li><a href="login.html">ĐĂNG NHẬP/ĐĂNG KÍ</a></li>
				<li><a href="">GIỎ HÀNG <i class="fas fa-shopping-bag"></i></a></li>
				<li><a href="admin.html">ADMIN <i class="fas fa-user"></i></a></li>

		</div>
		<div class="hide"> <i class="fas fa-list" ></i></div>
	</div>
	<div class="content">
		<ul>
			<li> <a href="home.html"><i class="fas fa-home"></i> TRANG CHỦ</li></a>
			<li> <a href="product.html"><i class="fas fa-bars"></i> SẢN PHẨM </a>
				<ul>
					<div class="sub_menu">
							<div class="aa">
								<ul>
									<img src="../img/l1.png" alt="" width="220px" height="100px">
									<h3>THỰC PHẨM VÀ GIA VỊ</h3>
									<li>Gia vị Tây Bắc</li>
									<li>Thịt & Cá Gác Bếp</li>
									<li>Măng Rừng Khô</li>
									
								</ul>
								<ul>
									<img src="../img/l2.png" alt="" width="220px" height="100px">
									<h3>ĐỒ UỐNG</h3>
									<li>Mật Ong Rừng Tây Bắc</li>
									<li>Tinh Bột Nghệ</li>
									<li>Nụ Tam Thất</li>
									
								</ul>
								<ul>
									 <img src="../img/l3.png" alt="" width="220px" height="100px">
									 <h3>RƯỢU VÀ ĐỒ NGÂM</h3>
									 <li>Rượu Ngâm</li>
									 <li>Nấm Ngọc Cẩu</li>
									 <li>Cây Đau Lưng</li>
									 <li>Đảng Sâm Rừng</li>
									 <li>Sâu Chít</li>
									 <li>Củ Cây Béo</li>
								</ul>
								<ul>
									 <img src="../img/l4.png" alt=""> 
								</ul>

							</div>
							
						</div>
				</ul>
			</li>
			<li> <a href="home.html"><i class="fas fa-bell"></i> MÙA KHAI THÁC SẢN PHẨM</a></li>
			<li> <a href="home.html"> <i class="far fa-bags-shopping"></i> COMBO </a></li>
			<li> <a href="product.html"><i class="fas fa-scarf"></i> MÂY TRE ĐAN </a></li>
			<li> <a href="product.html"><i class="fas fa-money-check-edit"></i> ĐI & VIẾT </a></li>
			<li> <a href="home.html"> <i class="far fa-users"></i>GIỚI THIỆU </a></li>
			<li> <a href="home.html"><i class="fas fa-map-marker-check"></i> LIÊN HỆ </a></li>
		</ul>
	</div>

</div>
<div class="main">
	<div class="trailer">
		<video class="video-bg fill visible" preload="" playsinline="" autoplay="" muted="" loop=""> <source src="../video/trailer1.mp4" type="video/mp4"></video>
	</div>
	<h2> <hr>QUÀ ĐƯỢC CHỌN NHIỀU NHẤT <hr></h2>
	<div class="popular">
			<div class="row">
				<div class="col-xl-4 col-lg-4 col-sm-6 mb-3"> 
					<div class="card" >
				  <img class="card-img-top" src="../img/p1.png" alt="Card image cap">
				  <div class="card-body">
				    <h3 class="card-title">Mật Ong Rừng Sông Đà</h3>
				    <p class="card-text">590,000đ</p>
				  </div>
				</div></div>
				<div class="col-xl-4 col-lg-4 col-sm-6 mb-3"> 	<div class="card" >
				  <img class="card-img-top" src="../img/p2.png" alt="Card image cap">
				  <div class="card-body">
				    <h3 class="card-title">Nụ Tam Thất</h3>
				    <p class="card-text">280,000đ</p>
				  </div>
				</div></div>
				<div class="col-xl-4 col-lg-4 col-sm-6 mb-3"> 	<div class="card" >
				  <img class="card-img-top" src="../img/p3.png" alt="Card image cap">
				  <div class="card-body">
				    <h3 class="card-title">Combo Mác Khén&Hạt Dổi</h3>
				    <p class="card-text">390,000đ</p>
				  </div>
				</div></div>
				<div class="col-xl-4 col-lg-4 col-sm-6 mb-3"> 	<div class="card" >
				  <img class="card-img-top" src="../img/p4.png" alt="Card image cap">
				  <div class="card-body">
				    <h3 class="card-title">Thịt Trâu Gác Bếp</h3>
				    <p class="card-text">890,000đ</p>
				    
				  </div>
				</div></div>
				<div class="col-xl-4 col-lg-4 col-sm-6 mb-3"> 	<div class="card" >
				  <img class="card-img-top" src="../img/p5.png" alt="Card image cap">
				  <div class="card-body">
				    <h3 class="card-title">Cây Đau Lưng</h3>
				    <p class="card-text">190,000đ</p>
				  </div>
				</div></div>
				<div class="col-xl-4 col-lg-4 col-sm-6 mb-3"> 	<div class="card" >
				  <img class="card-img-top" src="../img/p6.png" alt="Card image cap">
				  <div class="card-body">
				    <h3 class="card-title">Nấm Ngọc Cẩu Khô</h3>
				    <p class="card-text">400,000đ</p>
				  </div>
				</div></div>
			</div>
		</div>
	</div>
	<div class="poster"> 

 		<div id="myCarousel" class="carousel slide" data-ride="carousel"> 
  			<ol class="carousel-indicators"> 
   				<li data-target="#myCarousel" data-slide-to="0" class="active"></li> 
   				<li data-target="#myCarousel" data-slide-to="1"></li> 
  				 <li data-target="#myCarousel" data-slide-to="2"></li> 
  			</ol> 
  			<div class="carousel-inner"> 
   				<div class="item active"> <img src="../img/banner1.png" alt="Thiết kế 1" width="1200px"> 
    
  			 	</div> 
   			<div class="item"> <img src="../img/banner2.png" alt="Thiết kế 2"> 
    
  			 </div> 
   			<div class="item"> <img src="../img/banner3.png" alt="Thiết kế 3"> 
    
  		 </div> 
  			</div> <a class="left carousel-control" href="#myCarousel" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span> </a> <a class="right carousel-control" href="home.html" data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span> </a> 
 		</div> 
	</div>
	<h2><hr>CÁC SẢN PHẨM KHÁC <hr></h2>
	<div class="product">
			<div class="row">
				<div class="col-xl-3 col-lg-4 col-sm-6 mb-3"> 
					<div class="card" >
				  <img class="card-img-top" src="../img/1.png" alt="Card image cap">
				  <div class="card-body">
				    <h3 class="card-title">rượu đảng sâm</h3>
				    <p class="card-text">530,000đ</p>
				  </div>
				</div></div>
				<div class="col-xl-3 col-lg-4 col-sm-6 mb-3"> 	<div class="card" >
				  <img class="card-img-top" src="../img/2.png" alt="Card image cap">
				  <div class="card-body">
				    <h3 class="card-title">Cây Đau Lưng</h3>
				    <p class="card-text">240,000đ</p>
				  </div>
				</div></div>
				<div class="col-xl-3 col-lg-4 col-sm-6 mb-3"> 	<div class="card" >
				  <img class="card-img-top" src="../img/3.png" alt="Card image cap">
				  <div class="card-body">
				    <h3 class="card-title">Mật Ong Hoa Nhãn</h3>
				    <p class="card-text">700,000đ</p>
				  </div>
				</div></div>
				<div class="col-xl-3 col-lg-4 col-sm-6 mb-3"> 	<div class="card" >
				  <img class="card-img-top" src="../img/4.png" alt="Card image cap">
				  <div class="card-body">
				    <h3 class="card-title">Cá Gác Bếp</h3>
				    <p class="card-text">300,000đ</p>
				    
				  </div>
				</div></div>

				<div class="col-xl-3 col-lg-4 col-sm-6 mb-3"> 
					<div class="card" >
				  <img class="card-img-top" src="../img/5.png" alt="Card image cap">
				  <div class="card-body">
				    <h3 class="card-title">Chuối Hột</h3>
				    <p class="card-text">190,000đ</p>
				  </div>
				</div></div>
				<div class="col-xl-3 col-lg-4 col-sm-6 mb-3"> 	<div class="card" >
				  <img class="card-img-top" src="../img/6.png" alt="Card image cap">
				  <div class="card-body">
				    <h3 class="card-title">Táo Mèo Khô</h3>
				    <p class="card-text">490,000đ</p>
				  </div>
				</div></div>
				<div class="col-xl-3 col-lg-4 col-sm-6 mb-3"> 	<div class="card" >
				  <img class="card-img-top" src="../img/7.png" alt="Card image cap">
				  <div class="card-body">
				    <h3 class="card-title">Combo Mác Khén&Hạt Dổi</h3>
				    <p class="card-text">590,000đ</p>
				  </div>
				</div></div>
				<div class="col-xl-3 col-lg-4 col-sm-6 mb-3"> 	<div class="card" >
				  <img class="card-img-top" src="../img/8.png" alt="Card image cap">
				  <div class="card-body">
				    <h3 class="card-title">Thịt Trâu Gác Bếp</h3>
				    <p class="card-text">590,000đ</p>
				    
				  </div>
				</div></div>

				<div class="col-xl-3 col-lg-4 col-sm-6 mb-3"> 
					<div class="card" >
				  <img class="card-img-top" src="../img/9.png" alt="Card image cap">
				  <div class="card-body">
				    <h3 class="card-title">Mật Ong Rừng Sông Đà</h3>
				    <p class="card-text">590,000đ</p>
				  </div>
				</div></div>
				<div class="col-xl-3 col-lg-4 col-sm-6 mb-3"> 	<div class="card" >
				  <img class="card-img-top" src="../img/10.png" alt="Card image cap">
				  <div class="card-body">
				    <h3 class="card-title">Nụ Tam Thất</h3>
				    <p class="card-text">590,000đ</p>
				  </div>
				</div></div>
				<div class="col-xl-3 col-lg-4 col-sm-6 mb-3"> 	<div class="card" >
				  <img class="card-img-top" src="../img/11.png" alt="Card image cap">
				  <div class="card-body">
				    <h3 class="card-title">Combo Mác Khén&Hạt Dổi</h3>
				    <p class="card-text">590,000đ</p>
				  </div>
				</div></div>
				<div class="col-xl-3 col-lg-4 col-sm-6 mb-3"> 	<div class="card" >
				  <img class="card-img-top" src="../img/12.png" alt="Card image cap">
				  <div class="card-body">
				    <h3 class="card-title">Thịt Trâu Gác Bếp</h3>
				    <p class="card-text">590,000đ</p>
				    
				  </div>
				</div></div>
				
			</div>
		</div>
	</div>
	<h2><hr>QUÀ LƯU NIỆM <hr></h2>
	<div class="gift">
			<div class="row">
				<div class="col-xl-3 col-lg-4 col-sm-6 mb-3"> 
					<div class="card" >
				  <img class="card-img-top" src="../img/g1.png" alt="Card image cap">
				  <div class="card-body">
				    <h3 class="card-title">Mật Ong Rừng Sông Đà</h3>
				    <p class="card-text">590,000đ</p>
				  </div>
				</div></div>
				<div class="col-xl-3 col-lg-4 col-sm-6 mb-3"> 	<div class="card" >
				  <img class="card-img-top" src="../img/g2.png" alt="Card image cap">
				  <div class="card-body">
				    <h3 class="card-title">Nụ Tam Thất</h3>
				    <p class="card-text">590,000đ</p>
				  </div>
				</div></div>
				<div class="col-xl-3 col-lg-4 col-sm-6 mb-3"> 	<div class="card" >
				  <img class="card-img-top" src="../img/g3.png" alt="Card image cap">
				  <div class="card-body">
				    <h3 class="card-title">Combo Mác Khén&Hạt Dổi</h3>
				    <p class="card-text">590,000đ</p>
				  </div>
				</div></div>
				<div class="col-xl-3 col-lg-4 col-sm-6 mb-3"> 	<div class="card" >
				  <img class="card-img-top" src="../img/g4.png" alt="Card image cap">
				  <div class="card-body">
				    <h3 class="card-title">Thịt Trâu Gác Bếp</h3>
				    <p class="card-text">590,000đ</p>
				    
				  </div>
				</div></div>
				
			</div>
		</div>
	</div>
	<h2><hr><a href="https://www.youtube.com/channel/UCBhgBmuPFbLLxnejr09lnAQ">KÊNH YOUTUBE | HOA BAN FOOD™ </a><hr></h2>
	<div class="vd">
		<iframe width="699" height="393" src="https://www.youtube.com/embed/TAZyw5Ep1vQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
</div>
<hr>
<div class="ft">
	<div class="r">
		<div class="col-xl-4 col-lg-4 col-sm-6 mb-3"><b>LIÊN HỆ VỚI CHÚNG TÔI</b> <br>
			<b> 0914.268.535 – 0961.214.914</b>
			Giờ làm việc: Thứ 2 -> thứ 7 từ <b>8:00</b> đến <b>21:30</b> | Chủ Nhật từ <b>8:30</b>đến <b>17:30</b> <br>
			<b>HOA BAN FOOD™</b> <br>
			Nhà số 7, Khu liền kề Minori, 67A Trương Định, Quận Hai Bà Trưng, Hà Nội
		</div>
		<div class="col-xl-4 col-lg-4 col-sm-6 mb-3"> <b>FACEBOOK</b>
		</div>
		<div class="col-xl-4 col-lg-4 col-sm-6 mb-3"> <b>YOUTUBE</b> <br>
				<table>
					<tr>
						<td rowspan="2"> <img src="../img/y1.png" alt="" width="40px" height="40px"></td>
						<td> HOABANFOOD</td>
					</tr>
					<tr>
					<td><i class="fab fa-youtube"> 999+</td> </tr>

						<tr>
						<td rowspan="2"> <img src="../img/y2.png" alt="" width="40px" height="40px"></td>
						<td> HOABANCAMP</td>
					</tr>
					<tr>
					<td><i class="fab fa-youtube" >999+</td> </tr>

				</table>
		</div>
	</div>
	
</div>
<div></div>

<div class="footer"> Copyright 2021 © HOA BAN FOOD™</div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
<script src="../js/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="../js/js.js" type="text/javascript" charset="utf-8" async defer></script>
</html>
